In [1]:
# pandas liberaries is uesd to import the value from database, table etc
import pandas as ps

In [2]:
# store the Salary_Data.csv file into dataset variable with use of read_csv function 
dataset=ps.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
# assign and store input value (X) into independent variabe
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
#assign and store ouput value(Y) into dependent variabe
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [5]:
# Here we spliting train and test set with the use of sklearn.model_selection & train_test_split function
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
train_test_split(independent,dependent,test_size=0.30,random_state=0)

[    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0]

In [14]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [15]:
#creating model use of fit linear regression function and passing the training set input and output value
regressor.fit(x_train,y_train)

LinearRegression()

In [16]:
# see the value of Weight and Bais
weight=regressor.coef_
bais=regressor.intercept_
weight
bais

array([26777.3913412])

In [17]:
# to Predcit model , we are passing test set input value 
y_pred=regressor.predict(x_test)

In [18]:
# using r2 score function to validate the our model is good or poor, if r score value comes near to 1 then its a good model and r2 score value comes under 0 then its a poor model
from sklearn.metrics import r2_score

In [19]:
# passing actual output and predict output
r_score=r2_score(y_test,y_pred)
r_score

0.9740993407213511

In [21]:
# using pickle to store the best model and extension should be .sav , wb- write binaries , rb- read binaries
import pickle
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

In [30]:
# load function is used to load the saved model.
load_model=pickle.load(open("finalized_model_linear.sav",'rb'))
ye=int(input("Enter YearsExperience:"))
result=load_model.predict([[ye]])
result

Enter YearsExperience: 12

C:\Karthi\AI\Python\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[139100.52677552]])